CREATE DATABASE IF NOT EXISTS wordpress;
CREATE USER IF NOT EXISTS 'dertops'@'%' IDENTIFIED BY '{{ WP_USER_PASSWORD }}';
GRANT ALL PRIVILEGES ON wordpress.* TO 'dertops'@'%';
FLUSH PRIVILEGES;
ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ WP_ADMIN_PASSWORD }}';